@{
  ViewBag.Title = "Home";
}

<div class="center jumbotron">
  <h1>Welcome to Guoxin's homework</h1>
 
  <h2>
    This is the home page for Guoxin's homework.
  </h2>
 
  @Html.ActionLink("Sign up now!", "Signup", "Account", null, new { @class = "btn btn-lg btn-primary" })
</div>

<img src="~/Content/Images/001.png" alt="Guoxin" />
